<a href="https://colab.research.google.com/github/TienLungSun/Python/blob/main/IE118%20week15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

p.2-6 Class

In [ ]:
class Card:
  suit=3  #花色
  rank=5  #牌面點數

In [ ]:
card01 = Card()

In [ ]:
type(card01)

__main__.Card

In [ ]:
print(card01.suit, card01.rank)

3 5

In [ ]:
card01.suit=2
card01.rank=5

In [ ]:
print(card01.suit, card01.rank)

2 5

In [ ]:
class Card:
  def __init__(self, s, r):
    self.suit=s  #花色
    self.rank=r  #牌面點數

In [ ]:
card01 = Card(2, 3)
card02 = Card(3, 10)

In [ ]:
print(card01.suit, card01.rank, card02.suit, card02.rank)

2 3 3 10

In [ ]:
SUITS = ['Spade', 'Dimand', 'Heart', 'Club']
RANKS = ['A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K']

In [ ]:
class Card:
  def __init__(self, s, r):
    self.suit=s  #花色
    self.rank=r  #牌面點數

  def show(self):
    print(SUITS[self.suit] + RANKS[self.rank])

In [ ]:
card01 = Card(2, 3)
card02 = Card(3, 10)

In [ ]:
card01.show()

Heart4

p.2-12 print

In [ ]:
lst = ["台北", "桃園", "高雄"]

In [ ]:
",".join(lst)

'台北,桃園,高雄'

In [ ]:
print(",".join(lst))

台北,桃園,高雄

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
print(",".join(list(map(str, range(10)))))

0,1,2,3,4,5,6,7,8,9

In [ ]:
name = "John"
age = 23
msg = f"你好, 我是{name}, 今年{age}歲"
print(msg)

你好, 我是John, 今年23歲

In [ ]:
c = 30.032357
print(f"一美元 = 新台幣 {c}元")

一美元 = 新台幣 30.032357元

In [ ]:
print(f"一美元 = 新台幣 {c: .2f}元")

一美元 = 新台幣  30.03元

In [ ]:
print(f"一美元 = 新台幣 {c: 5.2f}元")

一美元 = 新台幣  30.03元

In [ ]:
star = "*"
print(f" {star:>9s}")

         *

In [ ]:
print(f" {star:<9s}")

 *

In [ ]:
print(f" {star:^9s}")

     *

In [ ]:
print(f" {star:.>9s}")

 ........*

In [ ]:
m=2
d=24
print(f"今天是{m:0>2d}月{d:0>2d}日")

今天是02月24日

In [ ]:
for i in range(1, 14, 2):
  print(i, end = ",")

1,3,5,7,9,11,13,

In [ ]:
for i in range(1, 14, 2):
  stars = "*"*i
  print(f"{stars:^13s}")

      *
     ***
    *****
   *******
  *********
 ***********
*************