<a href="https://colab.research.google.com/github/TienLungSun/Python/blob/main/IE118%20week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun(x):
  sum=0
  for i in range(1,x):
    sum = sum + 1
  return sum

In [ ]:
fun(50)

49

In [ ]:
fun(100)

99

In [ ]:
def fun1(x):
  product=1
  for i in range(1,x):
    product = product * i
  return product

In [ ]:
fun1(10)

362880

In [1]:
def fun2(x):
  sum=0
  for i in range(1,x):
    if(i % 3 == 0):
      sum = sum + 1
  return sum

In [3]:
fun2(100)

33

In [4]:
def fun3(x, y):
  sum=0
  for i in range(x, y+1):
    if(i % 3 == 0):
      sum = sum + 1
  return sum

In [5]:
fun3(10, 100)

30