<a href="https://colab.research.google.com/github/TienLungSun/Python/blob/main/IE118%20week10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

p.1-69 append

In [1]:
price = [3000, 2500, 100]
rate = 30.25
priceNTS = []
for p in price:
  ptw = p*rate
  priceNTS.append(ptw)
print(priceNTS)

[90750.0, 75625.0, 3025.0]

In [2]:
s = "32.4, 56.7, 23"
lst = s.split(",")
print(lst)

['32.4', ' 56.7', ' 23']

In [3]:
ss = "32.4, 56.7, 23"
numberLst = []
for a in ss.split(","):
  value = float(a)
  numberLst.append(value)
print(numberLst)

[32.4, 56.7, 23.0]

In [4]:
ss = "32.4, 56.7, 23"
total = 0
for a in s.split(","):
  value = float(a)
  total = total + value
print(total)

112.1

In [5]:
#直接呼叫 python 的 sum 函數
lst = [1, 2, 3, 4]
b = sum(lst)
print(b)

10

In [6]:
lst = [1, 2, 3, 4]
len(lst)

4